/*
 * Portlets/boxes
 * To fit with the default value of packery
 */
#homebox .homebox-portlet {
  margin: 0;
  padding: 0;
  border: 1px solid #c0c0c0;
  min-width: 245px;
}
/*
 * Hide portlet maximize and minimize that cause problem with Homebox
 * TODO: Correct this bug with homebox maximize by using "gigante" packery
 */
#homebox .homebox-portlet .portlet-maximize,
#homebox .homebox-portlet .portlet-minimize {
  display: none;
}
/* Float left for the block that are stamp. */
#homebox .homebox-portlet.tile-stamp {
  float: left;
}
